*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}
 body{
    background-color: rgb(68, 68, 68);
    background-repeat:repeat;
    background-size:cover;
    
}  
body::selection{
    background-color: rgb(88, 88, 241);
}
.navdiv{
    width: 102%;
    display:inline-flex;
    justify-content: space-between;  
    background-color:#343535; 
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    height: 75px;
    
}
.left img{
    
    width:28%;

    
}
.fa-brands{
    font-size: 125%;
    padding-left: 24px;
    padding-top: 10px;
    cursor: pointer;
    
}
.fa-solid{
    font-size: 118%;
    padding-left: 24px;
    padding-top: 10px;
    cursor: pointer;

    
}  
.list ul {
    list-style: none;
    width: 100%;
    text-align:right;
    padding-bottom: 20px;

}
.list ul li{
    display:inline-flex;
    margin: 10px 18px;
    
    

}
.list ul li a{
    text-decoration: none;
    font-size: 138%;
    color: white;
    font-style: normal;
    font-style: normal;
    font-weight: 100;


}
.left{
    align-content: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
 } 
 .content h1{
    color: #ebebeb;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .41px;
    margin: 0 0 32px;
    display: block;
    padding-left: 15%;
    font-style:normal;
    height: 15vh;
    font-style: normal;

}
.content p{
    color: #ebebeb;
    
    font-weight: 300;
    font-size: 24px;
    letter-spacing: .2px;
    align-content: center;
    padding-left: 15%;
    height: 30vh;
    font-style: normal;
    font-style: normal;

}

.fa-magnifying-glass{
    padding-left:1px;
    display:flex;
    padding-bottom:20px;
     position: static; 
    top: auto;
    transform: none; 
    width: 50px;
    border-radius: 30px;

}
.searchpage input{
    height: 8vh; 
    width: 67vw;
    border: none;
    background-color:#ebebeb ;
    font-size: 18px;
    color: #454647;
    border-radius: 5px;
    position: relative;
    
}
.searchpage{
    padding-left: 15%;
    height: 32vh;
    display: flexbox;
    

} 
.searchpage a .fas{
    font-size: 25px;
    position:relative;
    text-align: center;
    right:48px;
    
} 

.help{
    background-color: #d9643a;
    align-items: center;
    padding: 8px 16px;
    height: 42px;
    font-size: 20px;
    display:flex;
    width: 102%;
    
    font-style: normal;
    font-weight: 300;
    

}
.github{
    color: black;
    font-family:"Ubuntu", sans-serif;
    font-size: medium;
}
.open{
    color: black;
    font-family:"Ubuntu", sans-serif; 
    font-size: medium; 
}
.patreon{
    color: black;
    font-family:"Ubuntu", sans-serif;
    font-size: medium;
}
.cat{
    display: inline-block;
    height: 1em;
}
.navbar{
    height: 15vh;
    width:auto;
}
.container{
    display:inline-flex;
    background-color: #111010;
    width: 102%;
    font-family:"Ubuntu", sans-serif;

}
.footer-content1{
    padding-left: 5%;
    color: #ebebeb;
    
}
.footer-content1 img{
    width: 200px;
    padding-top: 15%;
}
.footer-content2{
    padding-left:14%;
    letter-spacing: .41px;
    line-height: 4vh;
    color: #777777;
    list-style: none;
    
}
.footer-content3{
    padding-left: 14%;
    letter-spacing: .41px;
    line-height: 4vh;
    color: #777777;
    list-style: none;
}
.footer-content4{
    padding-left: 14%;
    letter-spacing: .41px;
    line-height: 4vh;
    color: #777777;
    list-style: none;
    
}
.footer-content2 li a{
    text-decoration: none;
    color: #c4c2c2;

}

.footer-content3 li a{
    text-decoration: none;
    color: #c4c2c2;
}
.footer-content4 li a{
    text-decoration: none;
    color: #c4c2c2;
}
.cat1{
    display: inline-block;
    height: 27px;
    padding-left: 3vh;
    position: absolute;
    fill: currentColor;
    cursor: pointer;
    
}
.footer-content2 li a:hover{
    color: #d9643a;
    transition: 0.5s;
}
.footer-content3 li a:hover{
    color: #d9643a;
    transition: 0.5s;
}
.footer-content4 li a:hover{
    color: #d9643a;
    transition: 0.5s;
}
.list ul li a:hover{
    color: #9b9a9a;
    transition: 0.3s;
}
.fa-circle{
    font-size: 11px;
    padding-left:2px;
    display: inline;
}
.twi:hover{
    background-color: #454647;
}
.animated-background {
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 10;
    width: 100%;
    z-index: -1;
}



 
